@model ProyectoATECA.Models.HistorialAtendido

@{
    ViewBag.Title = "Registro de atención";

    ViewBag.DefaultFicha = Request["ID_ficha"];
    ViewBag.CodigoFicha = Request["codigo"];

    ViewBag.DefaultServicio = Request["ID_servicio"];


}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="alert alert-success">
        <h1>Registro de atención</h1>
    </div>
    <div class="jumbotron">

        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">Ficha @ViewBag.CodigoFicha</h2>
            <h5 class="text-muted"></h5>
        </div>
        <hr class="my-3">
        <h2 class="mb-1">Caja</h2>
        <h3 class="text-muted">@ViewBag.DefaultServicio</h3>


    </div>
    <br>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.ID_servicio, "ID_servicio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" >
            @Html.TextBoxFor(model => model.ID_servicio, new { @Value = ViewBag.DefaultServicio, htmlAttributes = new { @class = "form-control"  } })
            @Html.ValidationMessageFor(model => model.ID_servicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.ID_ficha, "ID_ficha", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ID_ficha, new { @Value = ViewBag.DefaultFicha, htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.ID_ficha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group"  style="display:none">
        @Html.LabelFor(model => model.horaFin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.horaFin, new { @Value = DateTime.Now, htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.horaFin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:none">
        @Html.LabelFor(model => model.duracion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.duracion, new { @Value = 0, htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-0 col-md-1">
            @Html.DropDownList("ID_usuario", null, htmlAttributes: new { id = "UsuariosList", @class = "selectUsuarios show-tick form-control" })
            @Html.ValidationMessageFor(model => model.ID_usuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}
<br>
<div>
    @Html.ActionLink("Regresar", "Index", "Fichas")
</div>

@section Scripts
{
    @*Scripts*@
    @Scripts.Render("~/Scripts/select.js")
    @Scripts.Render("~/Scripts/bootstrap-select.js")

    @*Styles*@
    @Styles.Render("~/Content/bootstrap-select.css")
} 