@model IEnumerable<ProyectoATECA.Models.HistorialAtendido>

@{
    ViewBag.Title = "Historial de atendidos";
}

<div class="alert-dark">
    <h2>Historial de atendidos</h2>
</div>

<table class="table table-hover">
    <tr class="table table-bordered">
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ficha.codigoFicha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.cedula)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.horaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ficha.codigoFicha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.cedula)
            </td>
        </tr>
    }

</table>
