@model IEnumerable<ProyectoATECA.Models.HistorialAtendido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ficha.codigoFicha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ficha.codigoFicha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_historialAtendido }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_historialAtendido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_historialAtendido })
        </td>
    </tr>
}

</table>
