<!DOCTYPE html>
<html>
<head>
    @*<meta http-equiv="Cache-Control" content="no-cache"/>*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ATECA - CCSS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
@{ ViewBag.Rol = Convert.ToInt32(Session["ROL"]);}
<body>
    @if (Request.IsAuthenticated && ViewBag.Rol == 4)
    {
        <div class="navbar navbar-inverse navbar-fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse" id="navbarColor02">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>*@
                        <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        <li>@Html.ActionLink("Servicios", "Index", "Servicios")</li>
                        <li>@Html.ActionLink("Registrar usuario", "Registration", "Usuarios")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                        
                        
                        <li>@Html.ActionLink("Historial de atendidos", "Index", "HistorialAtendidos")</li>
                        <li>@Html.ActionLink("Reportes", "Index", "Reportes")</li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hola @HttpContext.Current.User.Identity.Name</a></li>
                        <li>
                            <br>
                            @using (Html.BeginForm("Logout", "Usuarios", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span>Cerrar sesión</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }
    else if (Request.IsAuthenticated && (ViewBag.Rol == 2 || ViewBag.Rol == 3))
    {
        <div class="navbar navbar-inverse navbar-fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse" id="navbarColor02">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>*@
                        <li>@Html.ActionLink("Registrar usuario", "Registration", "Usuarios")</li>
                        <li>@Html.ActionLink("Atender cola", "Index", "Fichas")</li>
                     
                        <li>@Html.ActionLink("Historial de atendidos", "Index", "HistorialAtendidos")</li>
                        

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hola @HttpContext.Current.User.Identity.Name</a></li>
                        <li>
                            <br>
                            @using (Html.BeginForm("Logout", "Usuarios", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-in"></span>Cerrar sesión</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Login", "Usuarios")"><span class="glyphicon glyphicon-user"></span> Iniciar sesión</a></li>
                        <li><a href="@Url.Action("Registration", "Usuarios")"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <br>

    <div class="container body-content">
        <br>
        @RenderBody()
        <hr />
        <footer class="page-footer font-small special-color-dark pt-4">
            <div class="footer-copyright text-center py-3">
                <a href="#"> @DateTime.Now.Year CCSS - ATECA - 2019</a>
            </div>

        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
    @*@RenderSection("scripts", required: false)*@
    @RenderSection("Javascript", required: false)

</body>


</html>

<!-- Footer -->


