@model ProyectoATECA.Models.Usuario
@{
    /**/

    ViewBag.Title = "Registration";
}

<head>
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/custom.css" />
</head>


@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Registrado con éxito!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <br>
                    <img src="~/Img/ccsslogo2.png" id="icon" alt="icon" />
                </div>
                <!-- Login Form -->

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.cedula, "Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("CedulaExist", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.correo, "Correo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.fechaNacimiento, "Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("FechaExist", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Registrarse" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error! </strong>@ViewBag.Message
            </div>
        }
    }
}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

